<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- 通过factorybean 配置bean
        FactoryBean 具体返回对象由getObject来决定
    -->
    <bean id="carFactory" class="com.sp.factory.CarFactoryBean">

    </bean>


</beans>